.greenrecom {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}
  
.greenrecom_bg {
  position: relative;
  text-align: center;
}
  
.green_talk {
  position: absolute;
  left: 3%;
  bottom: 60%;
  text-align: left;
  font-size: 15px;
  z-index: 999;
}

.greenrecom_content {
  position: absolute;
  left: 5%;
  top: 15%;
  text-align: left;
  font-size: 20px;
  z-index: 999;
}

.search_div_green {
  padding-left: 10%;
}

.search_input_green {
  padding-left: 10px;
  height: 70px;
  width: 700px;
  border-color: #D6EBCA;
  border-width: 15px;
  border-style: solid;
}

.green_mentor {
  position: absolute; 
  left: 790px; 
  bottom: 63px;
}