.greenrecom {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

.greenrecom_bg {
  position: relative;
  text-align: center;
}

.green_talk {
  position: relative;
  left: 20%;
  top: 40%;
  text-align: left;
  font-size: 15px;
  z-index: 999;
}

.greenrecom_content {
  position: absolute;
  left: 25px;
  top: 35%;
  text-align: left;
  font-size: 20px;
  z-index: 999;  
}

.search_div_green {
  position: relative;
  margin-left: 30%;
}

.search_result_green {
  font-size: 17px;
  width: 900px;
  position: relative;
  margin-left: 30%;
  margin-top: 160px;
  padding-top: 50px;
  padding-left: 10px;
}

.search_result_green b {
  font-size: 20px;
}

.search_input_green {
  height: 70px;
  width: 700px;
  border-color: #d6ebca;
  border-width: 15px;
  border-style: solid;
}

.green_mentor {
  width: 300px;
  position: relative;
  left: 930px;
  bottom: 100px;
}

.red-text {
  color: #BD1700;
  font-weight: lighter;
  font-size: 22px;
}

.light-text{
  font-weight: lighter;
  font-size: 22px;
}

#career-net {
  display: none;
}