.greenrecom {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

.greenrecom_bg {
  position: relative;
  text-align: center;
}

.green_talk {
  position: relative;
  left: 30%;
  top: 40%;
  text-align: left;
  font-size: 15px;
  z-index: 999;
}

.greenrecom_content {
  position: absolute;
  left: 3%;
  top: 35%;
  text-align: left;
  font-size: 20px;
  z-index: 999;
  /* width: 20%;   */
}

.search_div_green {
  position: relative;
  margin-left: 28%;
  margin-top: 5%;
}

.search_result_green {
  font-size: 17px;
  width: 120%;
  position: absolute;
  /* left: 15%;
  top: 25%; */
  margin-left: 40%;
  margin-top: 40%;
  padding: 5%;
  border-radius: 10px;
  background-color: #e3e3e3;
}

.search_result_green b {
  font-size: 20px;
}

.search_input_green {
  height: 70px;
  width: 700px;
  border-color: #d6ebca;
  border-width: 15px;
  border-style: solid;
}

.green_mentor {
  width: 80%;
  position: absolute;
  left: 170%;
  top: 15%;
}

.red-text {
  color: #BD1700;
  font-weight: lighter;
  font-size: 22px;
}

.light-text{
  font-weight: lighter;
  font-size: 22px;
}

#career-net {
  display: none;
}