.button-position {
    text-align: center;
}

.modal-img {
    text-align: center;
}

.modal-bold {
    text-align: left;
    font-size: 18px;
}

.modal-light {
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
}

.modal-red {
    text-align: left;
    font-size: 15px;
    color: blue;
    font-weight: lighter;
}