.edit-body {
    position: relative; 
    justify-content: center;
    align-items: center;
    height: 140vh;
    background-color: #fcf5d6;
    text-align: left;
    padding-left: 10%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding-top: 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-body2 {
    position: relative; 
    justify-content: center;
    align-items: center;
    height: 190vh;
    background-color: #fcf5d6;
    text-align: left;
    padding-left: 10%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding-top: 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-input {
    border-radius: 10px;
    border: 2px solid #fffff4;
    margin-left: 1%;
    font-size: 18px;
}

.edit-label {
    font-weight: 700;
    font-size: 19px;
}

.edit-label-small {
    font-weight: 500;
    font-size: 15px;
}


.edit-textarea {
    border-radius : 10px;
    border-color: #fffff4;
    width: 70%;
    height: 15%;
    font-weight: 500;
    font-size: 18px; 
}

.edit-button {
    background-color: #f9ecb1;
    border-radius: 50px;
    border-color: #ffe77a;
    display: block;
    margin-left: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 수평 오프셋, 수직 오프셋, 흐림 정도, 색상 */
    padding: 5px 10px;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}

.edit-button:hover {
    /* 마우스 호버 시 약간 더 강조된 그림자 효과 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-back {
    position: relative;
    margin-left: 12%;
    margin-top: 1%;
    float: left;
    z-index: 999;
    background-color: #fcf5d6;
    font-weight: 900;
    font-size: 30px;
    color: rgb(26, 26, 26);
    font-weight: 600;
}
