.mypage,
.mypage2,
.mypage3 {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

.infobox {
  position: relative;
  right: 25%;
}

.infobox_content {
  position: absolute;
  left: 35%;
  bottom: 30%;
  font-weight: lighter;
  font-size: 32px;
  width: 100%;
}

.info_big {
  font-weight: bolder;
  font-size: 40px;
}

.info_small {
  font-weight: lighter;
  font-size: 20px;
}

.infobox2 {
  position: relative;
  left: 2%;
  width: 95%;
}

.infobox2_mentor {
  position: relative;
  left: 2%;
  width: 77%;
}


.semester_menu {
  display: flex;
  position: relative;
}

.semester {
  position: relative;
  flex: 1;
}

.semester_select {
  font-size: 25px;
}

.menu_btn {
  position: relative;
  flex: 1;
  right: 1%;
}

.menu_btn_mentor {
  position: relative;
  flex: 1;
  left: 12%;
}

.activity_list {
  position: relative;
  left: -10%;
  /* 부모 div 인 mypage3에 가운데 정렬이 걸려 있기 때문에 
  left: 0% 적용 시 가운데 정렬이 되는 듯*/
}

#mypage_detail_div {
  /* max-width: 50; */
  /* max-height: fit-content; */
  padding: 30px;
  /* margin-left: 300px;
  margin-right: 300px; 
  => 절댓값으로 마진을 양쪽에 주면 기기/브라우저에 따라 
  중앙에 위치하기 위한 마진이 다르기 때문에 
  가운데 정렬이 어려워요! */
  font-size: 15px;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 100px;
  align-items: center;
  /* border-radius: 10px; */
  /* width: 50vw; */
  /* height: 70vh; */
  background-color: rgba(255, 255, 244, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  font-weight: lighter;
}

#mypage_detail_closebutton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 10%;
  border: 1px solid gray;
  background-color: gray;
  color: #fffff4;
  font-size: 17px;
}

#mypage_detail_fixbutton {
  position: absolute;
  bottom: 20px;
  right: 90px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #b1c2ca;
  background-color: #b1c2ca;
  color: #fffff4;
  font-size: 15px;
}

#mypage_detail_deletebutton {
  position: absolute;
  bottom: 20px;
  right: 150px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #f29191;
  background-color: #f29191;
  color: #fffff4;
  font-size: 15px;
}

#mypage_detail_copybutton {
  position: absolute;
  bottom: 20px;
  right: 210px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #a0d97e;
  background-color: #a0d97e;
  color: #fffff4;
  font-size: 15px;
}

#mypage_detail_title {
  font-size: 20px;
  color: #000;
  margin : 20px;
  font-weight: 600;
}

#mypage_detail_content {
  font-size: 16px;
  color: #000;
  margin: 20px;
  font-weight: 550;
}

#mypage_detail_sgb {
  font-size: 16px;
  color: #000;
  margin: 20px;
  font-weight: 500;
  width: 100px;
}