.pinkrecom {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

.pinkrecom_bg {
  position: relative;
  text-align: center;
}

.pink_talk {
  position: relative;
  left: 3%;
  bottom: 40%;
  text-align: left;
  font-size: 15px;
}

.pinkrecom_content {
  position: absolute;
  left: 5%;
  top: 10%;
  text-align: left;
  font-size: 20px;
  z-index: 999;
}

.search_div_pink {
  padding-left: 10%;
}

.search_input_pink {
  padding-left: 10px;
  height: 70px;
  width: 700px;
  border-color: #f879b5;
  border-width: 15px;
  border-style: solid;
}

.pink_mentor_banner_div {
  position: absolute;
  padding-top: 7%;
  padding-bottom: 90%;
}

#pink_mentor_detail_div {
  padding-left: 10px;
  font-size: 15px;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  align-items: center;
  /* border-radius: 10px; */
  width: 500px;
  height: 70vh;
  background-color: rgba(238, 245, 229, 0.9);
  border-radius: 3%;

}

#pink_mentor_detail_prize_img {
  width: 10vw;
}
