.pinkrecom {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

.pinkrecom_bg {
  position: relative;
  text-align: center;
}

.pink_talk {
  position: relative;
  left: 3%;
  bottom: 40%;
  text-align: left;
  font-size: 15px;
}

.pinkrecom_content {
  position: absolute;
  left: 5%;
  top: 10%;
  text-align: left;
  font-size: 20px;
  z-index: 999;
}

.search_div_pink {
  padding-left: 25%;
}

.search_input_pink {
  padding-left: 10px;
  height: 70px;
  width: 700px;
  border-color: #f879b5;
  border-width: 15px;
  border-style: solid;
}

.pink_mentor_banner_div {
  position: absolute;
  padding-top: 7%;
  padding-bottom: 90%;
}
/* background-color: rgba(248, 166, 204, 0.9); */

#pink_mentor_detail_div {
  max-width: 700px;
  max-height: fit-content;
  padding: 50px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 15px;
  display: none;
  /* <여기> 부터 <저기>까지가 모달이 중앙에 위치하기 위한 코드인데요, 
  margin: 50px인가 일때 저는 모달이 너무 위로 붙어버리더라고요

  사실 margin: auto여야 중앙정렬이 되는데, 그렇게 하면 모달이 가로로 너무 길어지더라구요?? 
  
  그래서 margin: 25vh (브라우저 height의 25%)로 타협봤는데 
  다른 브라우저에서 이상해보이면 그냥 모달 가로로 넓어지는거 슬프지만.. auto로 갑시다*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 25vh;
  align-items: center;
  /* <저기> */
  /* border-radius: 10px; */
  /* width: 50vw; */
  /* height: 70vh; */
  background-color: rgba(248, 166, 204, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  font-weight: lighter;
}

#pink_mentor_detail_prize_img {
  max-width: 10%;
  height: auto;
  margin: 30px;
}

#pink_mentor_detail_closebutton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 10%;
  border: 1px solid white;
  background-color: white;
  color: rgba(248, 166, 204, 0.9);
  font-size: 17px;
}
