@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");

* {
  font-family: "Noto Sans KR", "sans serif";
}

.pinkform {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

.pinkform_bg {
  position: relative;
  text-align: center;
}

.pinkform_alert {
  position: absolute;
  left: 3%;
  bottom: 60%;
  text-align: left;
  font-size: 15px;
  z-index: 999;
}

.pink-small {
  font-size: smaller;
  font-weight: lighter;
}

input,
textarea,
select {
  padding-left: 1%;
  margin-top: 1%;
}

.pinkform_content {
  position: absolute;
  left: 5%;
  top: 7%;
  text-align: left;
  font-size: 20px;
  z-index: 999;
}

.pink_name_input {
  width: 380px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border-color: #f879b5;
  background-color: #fef3f5;
}

.pink-radio {
  font-weight: lighter;
}

.pink_image_input {
  background-color: #fde2e6;
  font-size: 15px;
}

.pink_grade_input {
  width: 360px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border-color: #f879b5;
  background-color: #fef3f5;
}

.pink_date_input {
  width: 360px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border-color: #f879b5;
  background-color: #fef3f5;
}

.pink_semester_select {
  width: 200px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  border-color: #f879b5;
  background-color: #fef3f5;
}

.pink_activity_text {
  width: 1000px;
  height: 150px;
  font-size: 20px;
  border-radius: 5px;
  border-color: #f879b5;
  background-color: #fef3f5;
}

/* 고교생 페이지에는 thoughts, 멘토 페이지에는 thought로 클래스네임이 설정되어있어서 추가 */
.pink_thoughts_text,
.pink_thought_text {
  width: 1000px;
  height: 150px;
  font-size: 20px;
  border-radius: 5px;
  border-color: #f879b5;
  background-color: #fef3f5;
}

.pink_save {
  text-align: center;
  color: #d6ebca;
  padding-left: auto;
  padding-right: auto;
}

button {
  border: 0;
}

.error {
  color: red;
  font-weight: lighter;
  font-size: 17px;
}

.tip_button {
  text-align: center;
}

.pink_button {
  padding-left: 5px;
  padding-right: 105px;
  text-align: center;
}

.pink-container {
  width: 100%;
  display: flex;
}

.pink-a,
.pink-b {
  flex: 1;
  width: 50%;
}

.pink-a {
  padding-right: 30px;
}

.pink-image {
  background-color: #fde2e6;
  font-size: 17px;
}

.pink_recom {
  position: absolute;
  right: 50px;
  top: 0px;
}
