.pinkrecom {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: fit-content;
  }
  
.pinkrecom_bg {
      position: relative;
      text-align: center;
  }
  
.pink_talk {
    position: absolute;
    left: 3%;
    bottom: 60%;
    text-align: left;
    font-size: 15px;
    z-index: 999;
  }

.pinkrecom_content {
    position: absolute;
    left: 5%;
    top: 7%;
    text-align: left;
    font-size: 20px;
    z-index: 999;
}

.search_div_pink {
  padding-left: 10%;
}

.search_input_pink {
  padding-left: 10px;
  height: 70px;
  width: 700px;
  border-color: #F879B5;
  border-width: 15px;
  border-style: solid;
}