.red_mypage_banner {
  display: flex;
  width: 1000px;
  min-width: fit-content;
  padding-top: 1px;
  padding-left: 14%;
}

.red_mypage_banner_bg {
  position: relative;
}

.red_activity_type {
  width: 100%;
  position: absolute;
  font-size: small;
  font-weight: lighter;
  bottom: 16%;
  left: 10%;
}

.red_activity_name {
  width: 1000px;
  position: absolute;
  bottom: 53%;
  left: 50%;
}

.red_activity_writer {
  /* width: 100%; */
  /* %는 박스 모델 상 부모 요소의 컨텐트 박스 크기를 따라가기 때문에 주의 필요*/
  width: 1000px;
  position: absolute;
  bottom: 25%;
  left: 50%;
  font-weight: lighter;
  font-size: 20px;
}
