.redrecom {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

.redrecom_bg {
  position: relative;
  text-align: center;
}

.red_talk {
  position: relative;
  left: 3%;
  top: 40%;
  text-align: left;
  font-size: 15px;
  z-index: 999;
}

.redrecom_content {
  position: absolute;
  left: 25px;
  top: 10%;
  text-align: left;
  font-size: 20px;
  z-index: 999;
}

.search_div_red {
  position: relative;
  margin-left: 10%;
}

.search_input_red {
  padding-left: 10px;
  height: 70px;
  width: 700px;
  border-color: #f29191;
  border-width: 15px;
  border-style: solid;
}

.search_result_red {
  width: 100%;
  position: relative; 
}

#search_result_red_subject_name {
  font-size: 18px;
  font-weight: bold;
}

#search_result_red_subject_desc {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.red-text {
  color: #BD1700;
  font-weight: lighter;
  font-size: 22px;
}

.light-text{
  font-weight: lighter;
  font-size: 22px;
}

#career-net {
  display: none;
}
/* 
.careernet-div {
  padding-left: 90px;
} */

.red_result {
  position: absolute;
  background-color: #e3e3e3;
  padding: 5%;
  border-radius: 15px;
  margin-left: 10%;
  width: 900px;
}