.redtipbox_bg {
    position: relative;
    justify-content: center;
    width: 100%;
    min-width: fit-content;
    text-align: center;
}

.redtip_bold {
    font-weight: bold;
    font-size: 20px;
}

.redtip_btn {
    position: static;
    left: 720px;
    text-align: center;
    z-index: 999;
}