
.button-style {
    background-color: #A0DE7B;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.button-position {
    text-align: center;
}

.modal-img {
    text-align: center;
}

.modal-bold {
    text-align: center;
    font-size: 23px;
}

.modal-light {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}