body {
  background-color: #fffff4;
}

.container {
  display : flex;
}

.name , .member, .grade, .age {
  width : 300px;
  padding-top : 30px;
}

.school, .id, .password, .email {
  padding-top: 30px;
}

.form {
  padding-top : 100px;
}

form {
  margin : 0 auto;
}

.login-title {
  padding-left: 19%; 
}

.login-input {
  border-radius: 15px;
  border: 2px solid #d9d9d9;
  padding-top : 3;
  background-color: #fffff4;
}

label {
  font-weight: lighter;
  font-size : 20px; 
}

.form {
  padding-left: 33%;
}

.login-button {
  padding : 10px;
  background-color: #fffff4;
  padding-left: 32%;
}

.login_q {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 90%;
}